[submodule "ace-judge-client"]
	path = ace-judge-client
	url = https://github.com/schonmann/ace-judge-client
[submodule "ace-judge-server"]
	path = ace-judge-server
	url = https://github.com/schonmann/ace-judge-server
