[submodule "ace-judge-client"]
	path = ace-judge-client
	url = git@github.com:schonmann/ace-judge-client.git
[submodule "ace-judge-server"]
	path = ace-judge-server
	url = git@github.com:schonmann/ace-judge-server.git
[submodule "ace-judge-referee"]
	path = ace-judge-referee
	url = git@github.com:schonmann/ace-judge-referee.git
